*{
    background-color: #443d3d;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #e4e4e4;
    margin-bottom: 45px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,120px);
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    color: #e4e4e4;
    cursor: pointer;
}

.border-right{
    border-right: 4px solid #e4e4e4;
}

.border-bottom{
    border-bottom: 4px solid #e4e4e4;
}

.X-hover:hover::after{
    content: "X";
    opacity: 0.4;
}

.O-hover:hover::after{
    content: "O";
    opacity: 0.4;
}

.game-over{
    text-align: center;
    border: #e4e4e4 dotted 2px;
    color: #e4e4e4;
    padding: 10px;
    font-size: 2em;
    margin: 30px;

}

.reset {
    color: #e4e4e4;

}

svg{
    margin-top: 30px;
    cursor: pointer;
}
