* {
    background-color: #443d3d;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .header {
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: sans-serif;
    text-align: center;
    color: #e4e4e4;
  }
  
  .container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    background-color: white;
  }
  
  .square {
    width: 120px;
    height: 120px;
  }
  